@import "../../../assets/base.scss";
.learning {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;

  //   opacity: 0;
  transition: opacity 200ms ease-out;
  &-container {
    // overflow: auto;
    position: fixed;

    z-index: 10000;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;

    @media only screen and (min-width: $bp-1000) {
      top: 25vh;
      bottom: 25vh;
      height: 60rem;

      overflow: hidden;
      @media only screen and (min-width: $bp-2000) {
        height: 80rem;
      }
    }
  }
  &-content {
    background-color: $color-white;
    height: 100%;

    transition: all 0.2s ease-out;
    opacity: 1;
    transform: translateY(-2rem) perspective(75rem) rotateX(10deg);

    overflow: hidden;
    margin: auto;

    @media only screen and (min-width: $bp-1000) {
      max-width: 80rem;
      @media only screen and (min-width: $bp-2000) {
        max-width: 100rem;
      }
    }
    &-header {
      padding: 0.5rem 0.8rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid grey;

      & img {
        margin-right: 0.8rem;
        max-height: 3rem;
      }
      & span {
        font-size: 1.6rem;
        color: #707984;
      }
      &-icon {
        display: block;
        margin-left: auto;
        padding: 1rem;
        color: #707984;
        cursor: pointer;
      }
    }
    &-main {
      height: 87%;
      &-title {
        padding-top: 1rem;
        border-bottom: 1px solid #ccc;
        width: 80%;
        margin: 0 auto;
        & h1 {
          text-align: center;
        }
      }

      &-illustration {
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        & img {
          border-radius: 1rem;
          width: 15rem;
          height: 15rem;
        }
      }

      &-buttons {
        display: flex;
        margin-top: 15rem;
        justify-content: center;
        & button {
          cursor: pointer;
          display: flex;
          width: 15rem;
          background-color: transparent;
          padding: 1.4rem 0;
          margin: 0.25rem;
          border-radius: 0.5rem;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          white-space: nowrap;

          & svg {
            margin: 0;
            padding: 0;
          }
        }
        &-check {
          width: 16rem !important;
          border: 1px solid $color-purple;
          & svg {
            margin-left: 0.5rem !important;
          }
        }
        &-know {
          border: 1px solid rgb(11, 179, 11);
          & svg {
            margin-left: 0.5rem !important;
          }
        }
        &-unknow {
          border: 1px solid red;
          & svg {
            margin-right: 0.5rem !important;
          }
        }
      }

      & p {
        text-align: center;
        font-size: 2.4rem;
        margin-top: 2.5rem;
      }
      &-round-info {
        padding-top: 2rem;
        padding-bottom: 9.8rem;
        & p {
          text-align: center;
          margin: auto;
          padding-top: 1rem;
        }
      }
    }
    &-footer {
      border-top: 1px solid grey;
      background-color: $color-offWhite;
      display: flex;
      height: 100%;
      &-icons {
      }
      &-icon {
        padding: 1rem;
      }
      &-logo {
        display: flex;
        margin: 0.5rem 0.8rem 0 auto;
        & img {
          width: 7.1rem;
          height: 2.8rem;
        }
      }
    }
  }
}
