@import "../../../assets/base.scss";
.learning {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;

  transition: opacity 200ms ease-out;
  &-container {
    position: fixed;

    z-index: 10000;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;

    @media only screen and (min-width: $bp-1000) {
      top: 25vh;
      bottom: 25vh;
      height: 60rem;

      overflow: hidden;
      @media only screen and (min-width: $bp-2000) {
        height: 80rem;
      }
    }
  }
  &-content {
    background-color: $color-white;
    height: 100%;

    transition: all 0.2s ease-out;
    opacity: 1;
    transform: translateY(-2rem) perspective(75rem) rotateX(10deg);

    overflow: hidden;
    margin: auto;

    @media only screen and (min-width: $bp-1000) {
      max-width: 80rem;
      @media only screen and (min-width: $bp-2000) {
        max-width: 100rem;
      }
    }
    &-header {
      padding: 0.5rem 0.8rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid grey;

      & img {
        margin-right: 0.8rem;
        height: 3.6rem;
        width: 3.6rem;
      }
      & span {
        font-size: 1.6rem;
        color: #707984;
      }
      &-icon {
        display: block;
        margin-left: auto;
        padding: 1rem;
        color: #707984;
        cursor: pointer;
        &-setting {
          margin-left: 2rem;
        }
      }
    }
    &-main {
      height: 86.25%;
      @media only screen and (min-width: $bp-1000) {
        height: 85%;
        @media only screen and (min-width: $bp-2000) {
          height: 88%;
        }
      }
      &-title {
        padding-top: 1rem;
        border-bottom: 1px solid #ccc;
        width: 80%;
        margin: 0 auto;
        & h1 {
          text-align: center;
        }
      }

      &-illustration {
        margin-top: 2.5rem;
        display: flex;
        justify-content: center;
        & img {
          border-radius: 1rem;
          width: 15rem;
          height: 15rem;
        }
      }
      &-name {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
          font-size: 2.4rem;
        }
        & svg {
          margin-left: 0.75rem;
          cursor: pointer;
        }
      }
      &-type {
        &-rewrite {
          margin-top: 15rem;
          @media only screen and (min-width: $bp-1000) {
            margin-top: 10rem;
          }
          & button {
            cursor: pointer;
            display: flex;
            background-color: transparent;
          }
          &-i-was-right {
            border: none;
            margin-bottom: auto;
            margin-top: auto;
            margin-left: 0.5rem;
            color: $color-purple;
            &:hover {
              border-bottom: 1px solid black;
            }
          }
          &-default {
            border: 1px solid black;
            margin-left: 0.25rem;
            width: 10rem;
            padding: 0.5rem 0;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            white-space: nowrap;
            border-radius: 0.25rem;
          }
          & label {
            justify-content: center;
            display: flex;
            margin-right: 28rem;
            margin-top: 0.5rem;
            font-size: 1.4rem;
          }
          &-content {
            justify-content: center;
            display: flex;
            & input[type="text"] {
              border-radius: 0.25rem;
              color: $color-555;
              width: 30rem;
              height: 3rem;
              font-size: 1.6rem;
              outline: none;
              border: 1px solid black;
            }
          }
        }
        &-quiz {
          margin-top: 10rem;
          @media only screen and (min-width: $bp-1000) {
            margin-top: 3.5rem;
          }
          justify-content: center;
          display: flex;
          & form {
            & ol {
              list-style-type: none;
              list-style-position: inside;
              counter-reset: item;
              list-style-type: none;
              & li {
                width: 30rem;
                min-height: 3.5rem;
                margin: 0.5rem 0;
                display: flex;
                align-items: center;

                &:before {
                  content: counter(item) "  ";
                  counter-increment: item;
                  margin-right: -2rem;
                }
                margin-left: 2rem;
                & button {
                  &:hover {
                    background-color: rgba($color-purple, 0.15);
                  }
                  border: 1px solid $color-555;
                  border-radius: 0.5rem;
                  width: 100%;
                  min-height: 3.5rem;
                  cursor: pointer;
                  display: flex;
                  background-color: transparent;
                  & span {
                    padding: 1rem 3rem;
                    margin: auto;
                  }
                }
              }
            }
          }
        }
      }
      &-buttons {
        display: flex;
        margin-top: 15rem;
        justify-content: center;
        @media only screen and (min-width: $bp-1000) {
          margin-top: 10rem;
        }
        & button {
          cursor: pointer;
          display: flex;
          width: 15rem;
          background-color: transparent;
          padding: 1.4rem 0;
          margin: 0.25rem;
          border-radius: 0.5rem;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          white-space: nowrap;

          & svg {
            margin: 0;
            padding: 0;
          }
        }
        &-check {
          width: 16rem !important;
          border: 1px solid $color-purple;
          & svg {
            margin-left: 0.5rem !important;
          }
        }
        &-know {
          border: 1px solid rgb(11, 179, 11);
          & svg {
            margin-left: 0.5rem !important;
          }
        }
        &-unknow {
          border: 1px solid red;
          & svg {
            margin-right: 0.5rem !important;
          }
        }
        &-default {
          border: 1px solid $color-black;
          & svg {
            margin-right: 0.5rem !important;
          }
        }
        &-i-was-right {
          border: 1px solid $color-black;
          & svg {
            margin-right: 0.5rem !important;
          }
        }
      }

      &-round-info {
        padding-top: 5rem;
        padding-bottom: 9.8rem;
        & p,
        h3 {
          font-size: 3rem;
          text-align: center;
          margin: auto;
          padding-top: 1rem;
        }
        & p {
          border-bottom: 1px solid #555;
          max-width: 25rem;
          font-size: 2rem;
          text-align: center;
          margin: auto;
          padding-top: 1rem;
        }
      }
    }

    &-mobile-settings {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      &-content {
        padding: 1rem;
        background-color: white;
        margin: auto;
        width: 25rem;
        margin-top: 12.5rem;
        height: 40rem;
        border: black 1px solid;
        box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 0.5);

        &-header {
          padding-bottom: 1rem;
          border-bottom: 1px solid $color-555;
          display: flex;
          & h2 {
            text-align: center;
            font-size: 3rem;
            line-height: 3rem;
            margin-right: -1.2rem;
          }
          & svg {
            cursor: pointer;
          }
        }
        &-body {
          display: flex;
          flex-direction: column;

          &-option {
            display: flex;
            &:first-child {
              margin-top: 1rem;
            }
            margin-top: 0.75rem;
            & img {
              margin: 1rem -0.3rem 1rem 0;
              width: 2rem;
            }
            & svg {
              width: 2rem;
              padding: 1rem 0;
              margin-right: auto;
            }

            &-text {
              width: 95%;
              margin: auto;
              margin-left: 1rem;
              & h3 {
                font-size: 1.2rem;
                line-height: 1.5rem;
              }
              & p {
                line-height: 1rem;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}
