@import "../../../../assets/base.scss";
.last-learned {
  background-color: $color-purple;
  height: 100vh;
  width: 100vw;

  @media only screen and (min-width: $bp-1000) {
    height: 100%;
    width: 100%;
  }

  &-content {
    min-height: 70vh;
    background-color: $color-white;
    border-radius: 1rem;
    padding: 1rem 1rem 9rem 1rem;
    @media only screen and (min-width: $bp-1000) {
      border-radius: 0;
      min-height: 0;
      padding: 1rem;

      height: 20vh;
    }

    & ul {
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin: auto;
      @media only screen and (min-width: $bp-1000) {
        margin-top: -1.3rem;
      }
      & li {
        display: flex;
        padding: 1rem 0;
        align-items: center;

        @media only screen and (min-width: $bp-1000) {
          padding: 0.25rem 0;
        }

        & a {
          padding: 0.2rem 0;
          display: flex;
          position: relative;
          color: #555;

          &::before {
            position: absolute;
            left: -1rem;
            content: "•";
          }
          &:hover {
            color: $color-purple;
          }

          align-items: center;
          margin-left: 0.6rem;
          @media only screen and (min-width: $bp-1000) {
            margin: auto;
            width: 50%;
          }

          & img {
            margin-left: 0.6rem;
            width: 3.5rem;
            @media only screen and (min-width: $bp-1000) {
              // margin-left: -3.5rem;
            }
          }
        }
      }
    }
    & h2 {
      margin-bottom: 1rem;
      font-size: 3.6rem;
      text-align: center;
      @media only screen and (min-width: $bp-1000) {
        font-size: 2.4rem;
        margin-bottom: 0;
      }
    }
    &-empty {
      color: black;
      justify-content: center;
    }
  }
}
