@import "../../../../assets/base.scss";
.last-learned {
  background-color: $color-purple;
  height: 100vh;
  width: 100vw;

  @media only screen and (min-width: $bp-1000) {
    height: 100%;
    width: 100%;
  }

  &-container {
    min-height: 70vh;
    background-color: $color-white;
    border-radius: 1rem;
    padding: 1rem 1rem 9rem 1rem;

    @media only screen and (min-width: $bp-1000) {
      border-radius: 0;
      min-height: 0;
      padding: 0;

      height: 20vh;
    }

    & ul {
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      & li {
        & a {
          text-decoration: none;
          display: flex;
          align-items: center;

          @media only screen and (min-width: $bp-1000) {
            margin: auto;
            width: 50%;
          }
          & p {
            color: $color-black;
            margin-left: 0.8rem;
          }
          & img {
          }
        }
      }
    }
  }
}
