@import "../../../assets/base.scss";
.settings {
  background-color: $color-purple;
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  padding-bottom: 1.5rem;
  overflow: auto;
  @media only screen and (min-width: $bp-1000) {
    padding-top: 15.6rem;
  }
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
    & svg {
      color: #333;
    }
    & h1 {
      margin: auto;
      padding-right: 1.3125rem;
      @media only screen and (min-width: $bp-1000) {
        font-size: 5rem;
      }
    }
    @media only screen and (min-width: $bp-1000) {
      margin-bottom: 5rem;
    }
  }

  &-title {
    text-align: center;
    color: black;
  }

  &-container {
    min-height: 70vh;
    overflow: auto;
    background-color: $color-white;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    margin: auto;
    height: 100%;

    @media only screen and (min-width: $bp-1000) {
      // padding-bottom: calc(40vh - 9.6rem);
      min-height: 80rem;
      max-width: 94rem;
      @media only screen and (min-width: $bp-1200) {
        max-width: 104rem;
        @media only screen and (min-width: $bp-1400) {
          max-width: 120rem;
          @media only screen and (min-width: $bp-2000) {
            max-width: 130rem;
          }
        }
      }
    }

    & h1 {
      font-size: 3.6rem;
      line-height: 3.6rem;
      text-align: center;
      margin-bottom: 1rem;
      @media only screen and (min-width: $bp-1000) {
        font-size: 5rem;
        line-height: 5rem;
      }
    }
  }
  &-option {
    text-decoration: none;
    color: #333;
    display: flex;
    padding: 1.5rem 0;
    align-items: center;
    &:not(:last-child) {
      border-bottom: 1px solid #777;
    }
    & svg {
      font-size: 2.8rem;
    }
    & p {
      font-size: 3rem;
      margin-left: 1.5rem;
    }
  }
}
