@import "../../../assets/base.scss";
.techcards {
  background-color: $color-purple;
  min-height: 100vh;
  height: 100%;

  @media only screen and (min-width: $bp-1000) {
    padding-top: 13.8rem;
  }
  &-title {
    &-icon {
      cursor: pointer;
      @media only screen and (min-width: $bp-1000) {
        height: 2rem;
      }
    }
    & h1 {
      font-size: 3.4rem;
      @media only screen and (min-width: $bp-1000) {
        font-size: 5rem;
      }
    }
  }

  &-container {
    min-height: 40rem;
    overflow: auto;
    background-color: $color-white;
    border-radius: 1rem;
    padding: 1rem 1rem 9rem 1rem;
    position: relative;
    margin: auto;

    @media only screen and (min-width: $bp-1000) {
      // padding-bottom: calc(40vh - 9.6rem);
      min-height: 80rem;
      max-width: 94rem;
      @media only screen and (min-width: $bp-1200) {
        max-width: 104rem;
        @media only screen and (min-width: $bp-1400) {
          max-width: 120rem;
          @media only screen and (min-width: $bp-2000) {
            max-width: 130rem;
          }
        }
      }
    }
  }
  &-main {
    & h2 {
      @media only screen and (min-width: $bp-1000) {
        margin: 1rem 0;
        font-size: 3.2rem;
      }
    }
    & ul {
      padding: 1rem;
      & li {
        padding: 0.25rem;
        border-bottom: 1px solid #555;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (min-width: $bp-1000) {
          padding: 1rem 0.25rem;
          & a {
            font-size: 1.8rem;
          }
        }
      }
    }

    &-list-container {
      display: flex;
      align-items: center;

      & p {
        font-size: 1.2rem;
        @media only screen and (min-width: $bp-1000) {
          font-size: 1.4rem;
        }
      }
      & input {
        margin-left: 1rem;
      }
    }
    &-progress-bar {
      margin-top: 0.5rem;
      display: flex;
      font-size: 1.2rem;
      text-align: center;

      @mixin progress-bar-part {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 2.5rem;
        &:hover {
          scale: 1.1;
        }
        @media only screen and (min-width: $bp-1000) {
          height: 2rem;
          width: 3.5rem;
        }
      }
      @mixin progress-bar-list-part {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.5rem;
        &:hover {
          scale: 1.1;
        }
        @media only screen and (min-width: $bp-1000) {
          height: 0.75rem;
        }
      }
      &-message {
        width: 10rem;
        position: absolute;
      }

      &-new {
        @include progress-bar-part;
        background-color: rgb(112, 174, 255);
        position: relative;
      }
      &-learned {
        @include progress-bar-part;
        background-color: green;
      }
      &-to-learn {
        @include progress-bar-part;
        background-color: orange;
      }
      &-hard {
        @include progress-bar-part;
        background-color: red;
      }

      // * list version

      &-list {
        display: flex;
        font-size: 1.2rem;
        text-align: center;
        width: 5rem;
        margin-left: 0.5rem;
        border-radius: 2.5rem !important;
        overflow: hidden;
        @media only screen and (min-width: $bp-1000) {
          width: 7.5rem;
        }
        & div {
          display: inline-block;

          &:hover {
            & span {
              visibility: visible;
            }
          }
          span {
            visibility: hidden;
            width: auto;

            background-color: rgba(black, 0.7);
            color: #fff;
            text-align: center;
            padding: 0.5rem;

            top: 105%;
            left: 50%;
            margin-left: -75%;
            position: absolute;
            z-index: 1000;
          }
        }

        &-new {
          @include progress-bar-list-part;
          background-color: rgb(112, 174, 255);

          display: inline-block;
        }
        &-learned {
          @include progress-bar-list-part;
          background-color: green;
        }
        &-to-learn {
          @include progress-bar-list-part;
          background-color: orange;
        }
        &-hard {
          @include progress-bar-list-part;
          background-color: red;
        }
        &-empty {
          @include progress-bar-list-part;
          cursor: default;
          border: 1px solid rgba(black, 0.5);
          &:hover {
            scale: 1;
          }
        }
      }
    }
  }

  & input[type="text"] {
    border: 1px solid rgb(black, 0.25);
    padding-left: 0.5rem;
    &::placeholder {
      padding-left: 0.25rem;
    }
    height: 2.25rem;
    outline: none;
    @media only screen and (min-width: $bp-1000) {
      height: 3.5rem;
      width: 25rem;
    }
  }
  & input[type="checkbox"] {
    accent-color: crimson;
    cursor: pointer;
  }
}
