.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
}
.navbar > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.logo img {
  width: 7.1rem;
  height: 2.8rem;
}

.navbar-icon .navbar-toggler {
  padding: 0;
  border: none;
  color: #fff;
  font-size: 2rem;
}
.navbar-icon {
  width: 2.8rem;
  height: 3.2rem;

  padding: 0;
  border: none;
  color: #fff;
  font-size: 3.2rem;

  cursor: pointer;

  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
}

.navbar-visible {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-custom .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-item li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.nav-item {
  margin-top: 1.6rem;
}

.nav-link {
  padding: 1rem 1.2rem;
  color: #f7f5f5;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.2s ease;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  opacity: 1 !important;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  min-width: auto;
  animation: fadeDropdown 0.2s;
}

.dropdown-menu {
  padding-top: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #5f4dee;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.4rem 2.4rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navbar-custom .dropdown-item {
  color: #f7f5f5;
  opacity: 0.8;
  font: 700 1.4rem "Open Sans", sans-serif;
  text-decoration: none;
}

.navbar-custom .nav-item .btn-outline-small {
  margin-top: 0.4rem;
  margin-bottom: 2.2rem;
  margin-left: 0.8rem;
  border: 0.2rem solid #fff;
  color: #fff;
  margin-top: 1.4rem;
}

.btn-outline-small {
  display: inline-block;
  padding: 1.4rem 2.4rem;
  border: 0.2rem solid #5f4dee;
  border-radius: 2rem;
  background-color: transparent;
  color: #5f4dee;
  font: 700 1.4rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.navbar-custom {
  background-color: #5f4dee;
  box-shadow: 0 0.0625rem 0.375rem 0 rgb(0 0 0 / 10%);
  font: 700 1.4rem "Open Sans", sans-serif;
  transition: all 0.2s;
}

.navbar-custom .dropdown-items {
  width: 100%;
  height: 1px;
  margin: 0.75rem auto 0.725rem auto;
  border: none;
  background-color: #c4d8dc;
  opacity: 0.2;
}
.navbar-custom .dropdown:hover > .dropdown-menu {
  display: block;
  min-width: auto;
  animation: fadeDropdown 0.2s;
}
.navbar-custom .dropdown-menu {
  margin-top: 0;
  border: none;
  border-radius: 0.25rem;
  background-color: #5f4dee;
}

.video-icon {
  margin-left: 0.35rem;
  font-size: 1.25rem;
  margin-bottom: 0.1rem;
}

@media (min-width: 992px) {
  .navbar {
    display: flex !important;
    flex-basis: auto;
    padding: 3.4rem 2.4rem 3.4rem 3.2rem;
  }
  .logo {
    display: inline-block;
    padding: 0;
  }
  .container {
    display: flex;
    flex-wrap: nowrap !important;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .navbar-custom .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
    /* max-width: 85rem; */
    margin-left: auto;
    margin-top: auto;
    align-items: center;
    margin: 0;
  }
  .btn-outline-small {
    margin: 0 0 0 1.2rem !important;
  }
  .nav-item {
    margin: 0;
  }

  .nav-link.dropdown-menu {
    opacity: 1 !important;
  }
  .dropdown-menu {
    position: absolute !important;
    opacity: 1 !important;
  }

  .dropdown-toggle {
    position: relative;
  }
  .navbar-custom .dropdown-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 0.25rem solid rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
  }
}
