@import "../../../../../assets/base.scss";
.settings {
  &-general {
    & h1 {
      margin-bottom: 2rem;
      @media only screen and (min-width: $bp-1000) {
        font-size: 5rem;
      }
    }
    &-avatar {
      display: flex;
      justify-content: center;
      & img {
        box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);
        border: 1px solid #555;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        @media only screen and (min-width: $bp-1000) {
          width: 25rem;
          height: 25rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-edit {
        display: flex;
        flex-direction: column;
        align-items: center;
        & canvas {
          display: block;
          margin: 0 auto;
        }
        &-panel {
          display: flex;
          flex-direction: column;
          align-items: center;

          font-size: 1.8rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
          & input {
            margin-left: 1rem;
          }
        }
        &-buttons {
          display: flex;
          justify-content: center;
        }
      }
    }
    &-user-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;

      &-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        & button {
          margin: 1.5rem 0;
        }
      }
    }
  }
}
