@import "../../../../../assets/base.scss";
.settings {
  &-general {
    &-avatar {
      display: flex;
      justify-content: center;
      & img {
        position: relative;
        box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);
        outline: 1px solid #555;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        @media only screen and (min-width: $bp-1000) {
          width: 25rem;
          height: 25rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &-container {
        &-delete-btn {
          width: 100%;
          cursor: pointer;
          border: none;
          background-color: transparent;
          color: darkred;
          margin-top: auto;
          height: 2rem;

          font-size: 1.28rem;
          @media only screen and (min-width: $bp-1000) {
            font-size: 1.6rem;
          }
        }
      }
      &-hover {
        background-color: rgba(black, 0.5);
        border-radius: 50%;
        opacity: 0;
        cursor: pointer;
        width: 15rem;
        height: 15rem;
        transform: translateY(-105.2%);
        position: absolute;
        transition: opacity 200ms;
        &:hover {
          opacity: 1;
        }
        @media only screen and (min-width: $bp-1000) {
          transform: translateY(-103%);
          width: 25rem;
          height: 25rem;
        }
        & p {
          color: white;
          font-size: 1.8rem;
          line-height: 3rem;
          text-align: center;
          word-break: keep-all;
          border-radius: 50%;
          @media only screen and (min-width: $bp-1000) {
            font-size: 3rem;
          }
        }
        &-p-drop {
          margin-top: 5rem;
          @media only screen and (min-width: $bp-1000) {
            margin-top: 10rem;
          }
        }
        &-p-click {
          margin-top: 3rem;
          @media only screen and (min-width: $bp-1000) {
            margin-top: 8rem;
          }
        }
      }
      &-edit {
        display: flex;
        flex-direction: column;
        align-items: center;
        & canvas {
          display: block;
          margin: 0 auto;
        }
        &-panel {
          display: flex;
          flex-direction: column;
          align-items: center;

          font-size: 1.8rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
          & input {
            margin-left: 1rem;
          }
        }
        &-buttons {
          display: flex;
          justify-content: center;
        }
      }
    }
    &-user-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;

      &-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        & button {
          margin: 1.5rem 0;
        }
      }
      &-error {
        width: 100%;
        text-align: center;
        color: red;
      }
    }
  }
}
