@import "../../../assets/base.scss";
.techcards-list {
  background-color: $color-purple;

  min-height: 100vh;
  height: 100%;

  @media only screen and (min-width: $bp-1000) {
    min-height: 0;
    height: 100%;
    width: 100%;
  }

  &-container {
    min-height: 50rem;
    overflow: auto;
    background-color: $color-white;
    border-radius: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    position: relative;
    & h1 {
      color: $color-black;
      font-size: 3rem;
    }
    & p {
      color: $color-black;
      line-height: 2.4rem;
    }
    & svg {
      color: $color-black;
    }
    @media only screen and (min-width: $bp-1000) {
      min-height: 0;
      border-radius: 0;
      padding: 1rem 0 1rem 1rem;
      height: 100%;
    }
    &-info {
      margin: 1rem 1rem 0 0;

      line-break: anywhere;
    }
    &-languages {
      position: absolute;
      margin-bottom: auto;
      width: calc(100% - 1rem);
      bottom: auto;
    }
  }
  &-textarea {
    max-width: 100%;
    width: 100%;

    border: 0;
    outline: none;

    color: $color-black;
    background-color: $color-white;

    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      line-height: 2.4rem;
      color: $color-black;
      font-size: 1.6rem;
    }
  }
  &-form {
    &-about-me {
      padding-bottom: 1rem;
      border-bottom: 1px dashed black;
    }
    &-languages {
      // max-width: 33%;

      padding: 1rem 0;
      margin-right: 1rem;
      &:not(:last-child) {
        border-bottom: 1px dashed black;
      }
      &-change {
        &-inputs {
          list-style-type: none;
          border: none;
        }
        &-input-box {
          display: flex;
          width: 100%;
          margin-bottom: 1rem;
        }
        &-language {
          height: 3rem;
          outline: none;

          @media only screen and (min-width: $bp-1000) {
            width: 60%;
          }
        }
        &-button-remove {
          scale: 1.25;
          margin-left: auto;
          justify-self: flex-end;
          align-self: center;
          cursor: pointer;
        }
        &-level {
          outline: none;
          height: 3rem;
          width: 5rem;
        }
      }
    }
  }
}
