@import "../../../../assets/base.scss";
.footer {
  border-top: 1px solid grey;
  background-color: $color-offWhite;
  display: flex;
  & img {
    cursor: pointer;
    padding: 0.8rem;
    margin-bottom: -0.2rem;

    width: 3.85rem;
    height: 3.85rem;
  }
  &-icons {
    display: flex;
    align-items: center;
    height: 5rem;
    &-box {
      &:not(:first-child) {
        margin-left: 1rem;
        @media only screen and (min-width: $bp-1000) {
          margin-left: 2rem;
        }
      }
    }
  }
  &-icon {
    cursor: pointer;
    padding: 1rem;
    @media only screen and (min-width: $bp-1000) {
      width: 1.8rem;
      height: 1.8rem;
      @media only screen and (min-width: $bp-2000) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &-logo {
    display: flex;
    margin: 0.75rem 0.8rem 0 auto;
    & img {
      margin: 0;
      width: 7.1rem;
      height: 2.8rem;
      padding: 0;
      cursor: default;

      @media only screen and (min-width: $bp-2000) {
        width: 7.81rem;
        height: 3.08rem;
      }
    }
  }
}
.mobile-settings {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh + 11rem);

  @media only screen and (max-height: 500px) {
    height: calc(100% + 50vh);
  }
  @media only screen and (max-height: 400px) {
    height: calc(100% + 100vh);
  }
  @media only screen and (max-height: 300px) {
    height: calc(100% + 140vh);
  }
  @media only screen and (max-height: 250px) {
    height: calc(100% + 200vh);
  }
  background-color: rgba(0, 0, 0, 0.5);
  &-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem;
    background-color: white;
    width: 25rem;
    margin-top: 12.5rem;
    height: 40rem;
    border: black 1px solid;
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 0.5);

    &-header {
      padding-bottom: 1rem;
      border-bottom: 1px solid $color-555;
      display: flex;
      & h2 {
        text-align: center;
        font-size: 3rem;
        line-height: 3rem;
        margin-right: -1.2rem;
      }
      & svg {
        cursor: pointer;
      }
    }
    &-body {
      display: flex;
      flex-direction: column;

      &-option {
        display: flex;
        &:first-child {
          margin-top: 1rem;
        }
        margin-top: 0.75rem;
        & img {
          margin: 1rem -0.3rem 1rem 0;
          width: 2rem;
        }
        & svg {
          width: 2rem;
          padding: 1rem 0;
          margin-right: auto;
        }
        & input {
        }
        &-text {
          width: 95%;
          margin: auto;
          margin-left: 1rem;
          & h3 {
            font-size: 1.2rem;
            line-height: 1.5rem;
          }
          & p {
            line-height: 1rem;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
