@import "../../../../assets/base.scss";
.statistics {
  background-color: $color-purple;
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  padding-bottom: 1.5rem;

  @media only screen and (min-width: $bp-1000) {
    min-height: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 0rem;
    background-color: $color-white;
  }
  &-data {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #777;
    & p {
      color: $color-black;
    }
  }
  &-container {
    overflow: auto;
    min-height: 70vh;
    background-color: $color-white;
    border-radius: 1rem;
    padding: 1rem 1rem 0 1rem;

    @media only screen and (min-width: $bp-1000) {
      min-height: 0;
      padding: 1rem;
      border-radius: 0;
      height: 45vh;
    }
    & h2 {
      color: black;
      font-size: 2.4rem;
      text-align: center;
    }
    & button {
      @media only screen and (min-width: $bp-1000) {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }
    & canvas {
      margin-bottom: 5rem;
      @media only screen and (min-width: $bp-1000) {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }
    & header {
      color: #333;
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & svg {
        height: 2rem;
        cursor: pointer;
      }
      & h2 {
        color: #333;
        margin: auto;

        font-size: 3.6rem;
        text-align: center;
        @media only screen and (min-width: $bp-1000) {
          font-size: 2.4rem;
          padding-right: 2rem;
        }
      }
    }
  }
}
