@import "../../../../assets/base.scss";
.statistics {
  background-color: $color-purple;
  height: 100vh;
  width: 100vw;

  @media only screen and (min-width: $bp-1000) {
    height: 100%;
    width: 100%;
    background-color: $color-white;
  }
  &-container {
    min-height: 70vh;
    overflow: auto;
    background-color: $color-white;
    border-radius: 1rem;
    padding: 1rem 1rem 5rem 1rem;

    @media only screen and (min-width: $bp-1000) {
      min-height: 0;
      padding: 1rem;
      border-radius: 0;
      height: 40vh;
    }
    & button {
      @media only screen and (min-width: $bp-1000) {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }
    & canvas {
      @media only screen and (min-width: $bp-1400) {
        height: 20rem !important;
      }
    }

    & fieldset {
      border: 1px solid #d9d9d9;
      padding-left: 0.5rem;

      @media only screen and (min-width: $bp-1000) {
      }
      & input {
        margin-right: 0.8rem;
      }
    }
  }
}
