.back-to-top {
  position: fixed;
  z-index: 999;

  right: 1.2rem;
  bottom: 1.2rem;
  opacity: 0;
  transition: all 500ms;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 3rem;
  background: #4f3cda url("../../images/up-arrow.png") no-repeat center 47%;
  background-size: 1.8rem 1.8rem;
  text-indent: -9999px;
}
.visible {
  opacity: 1;
}
