// COLOR VARIABLES
$color-white: #fff;
$color-black: #000;

$color-purple: #5f4dee;
:export {
  colorPurple: $color-purple;
}
$color-offWhite: #f3f7fd;

// text colors
$color-333: #333;
$color-555: #555;

// FONT VARIABLES
$font-logo: "Secular One", sans-serif;
$font-display: "Roboto", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-2000: 125em; // 1800px
$bp-1800: 112.5em; // 1800px
$bp-1400: 87.5em; // 1400px
$bp-1200: 75em; // 1200px
$bp-1000: 62.5em; // 1000px
$bp-800: 50em; // 800px;
$bp-600: 37.5em; // 600px;
$bp-500: 31.25em; // 500px;
$bp-400: 25em; // 400px;

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-weight: 400;
  line-height: 1.6;
}
h1 {
  color: #333;
  font: 700 4rem/5.075rem "Open Sans", sans-serif;
  letter-spacing: -0.2px;
}

body,
p {
  color: #555;
  font: 400 1.6rem/2.6rem "Open Sans", sans-serif;
}

// CAROUSEL ARROWS
.carousel {
  &-prev {
    &:before {
      background-size: 1.8rem 2.8rem !important;
      scale: 1.5;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E") !important;
    }
  }
  &-next {
    &:before {
      background-size: 1.8rem 2.8rem !important;
      scale: 1.5;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E") !important;
    }
  }
}
