@import "./base.scss";

//BUTTONS
@mixin btn-outline {
  display: inline-block;
  border-radius: 2rem;
  background-color: transparent;
  color: $color-purple;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background: $color-offWhite;
    color: $color-purple;
  }
}

@mixin btn-solid {
  display: inline-block;
  border: 0.2rem solid $color-purple;
  border-radius: 3.25rem;
  background-color: $color-purple;
  color: $color-white;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: $color-purple;
  }
}
@mixin btn-solid-reverse {
  display: inline-block;
  border: 0.2rem solid $color-offWhite;
  border-radius: 3.25rem;
  background-color: $color-offWhite;
  color: $color-purple;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: $color-offWhite;
  }
}

.btn {
  &-outline {
    &-small {
      @include btn-outline;
      padding: 0.875rem 1.5rem 0.875rem 1.5rem;
      border: 0.125rem solid $color-purple;
      font: 700 0.875rem/0 "Open Sans", sans-serif;

      &-header {
        @include btn-outline;
        padding: 1.4rem 2.4rem;
        border: 0.2rem solid $color-purple;
        font: 700 1.4rem/0 "Open Sans", sans-serif;

        margin-bottom: 2.2rem;
        // margin-left: 0.8rem;
        border: 0.2rem solid $color-white;
        color: $color-white;

        @media only screen and (min-width: $bp-1000) {
          margin: 0 0 0 1.2rem !important;
        }
      }
    }
    &-medium {
      @include btn-outline;
      padding: 1.9rem 3.4rem;
      border: 0.2rem solid $color-purple;
      font: 700 1.4rem/0 "Open Sans", sans-serif;
    }
    &-large {
      @include btn-outline;
      padding: 2.5rem 4.45rem;
      font: 700 1.4rem/0 "Open Sans", sans-serif;
      border: 0.325rem solid $color-purple;
    }
  }
  &-solid {
    &-small {
      @include btn-solid;
      font-weight: 700;
      padding: 1.425rem 2.55rem;
      font: 700 1.3rem/0 "Open Sans", sans-serif;
    }
    &-medium {
      @include btn-solid;
      font-weight: 700;
      padding: 1.9rem 3.4rem;
      font: 700 1.4rem/0 "Open Sans", sans-serif;
    }
    &-large {
      @include btn-solid;

      padding: 2.175rem 4.45rem;
      font: 700 1.4rem/0 "Open Sans", sans-serif;
      border: 0.325rem solid $color-purple;
      // @include btn-outline;
      // padding: 2.25rem 4.25rem;
      // font: 700 1.425rem/0 "Open Sans", sans-serif;
    }
    &-large-reverse {
      @include btn-solid-reverse();

      padding: 2.175rem 4.45rem;
      font: 700 1.4rem/0 "Open Sans", sans-serif;
      border: 0.325rem solid $color-white;
      // @include btn-outline;
      // padding: 2.25rem 4.25rem;
      // font: 700 1.425rem/0 "Open Sans", sans-serif;
    }

    &-header-content {
      margin-right: 0.8125rem;
      margin-bottom: 1.85rem;
      margin-left: 0.8125rem;
      border-color: $color-offWhite;
      background-color: $color-offWhite;
      color: $color-purple;
      @media only screen and (min-width: $bp-800) {
        margin-bottom: 0;
        margin-left: 0;
      }
    }
  }
}

///////////////////////////////////
///  ICONS

.icon {
  &-square {
    width: 0.7rem;
    height: 0.8rem;
    margin: auto 1rem auto 0;
    color: $color-purple;
  }
}

// INPUTS

.input {
  &-default {
    margin: 0 auto;
    position: relative;
    & input {
      outline: none;
      display: block;
      width: 100%;
      padding: 1.7rem 0.2rem 0.1rem 2rem;
      border: 1px solid #c4d8dc;
      border-radius: 0.4rem;
      background-color: #fff;
      color: #555;
      font: 400 1.4rem/3rem "Open Sans", sans-serif;
      transition: all 0.2s;

      &:hover {
        border: 1px solid #a1a1a1;
      }
      &:focus {
        border: 1px solid #a1a1a1;
      }
      &:not(:placeholder-shown) {
        & + label {
          top: 0.2rem;
          opacity: 1;
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
      &:focus + label {
        top: 0.2rem;
        opacity: 1;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    & label {
      top: 0.2rem;
      opacity: 1;
      font-size: 1.2rem;
      font-weight: 700;
      position: absolute;
      top: 1.395rem;
      left: 2rem;
      color: #555;
      opacity: 1;
      font: 400 1.4rem/2.2rem "Open Sans", sans-serif;
      cursor: text;
      transition: all 0.2s ease;
    }
  }
}

.checkbox {
  &-default {
    display: flex;
    align-items: flex-start;
    margin: 2rem 0;

    & input[type="checkbox"] {
      margin: 0.45rem 0.6rem 0 0;
    }
    & p {
      color: #555;
      font: 400 1.2rem/2rem "Open Sans", sans-serif;
      text-align: start;
    }
    & a {
      color: #555;
    }
  }
}

.radio-techcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-radius: 9999px;
  box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
  // border: 1px solid rgba(black, 0.1);
  &-container {
    margin: 0.75rem 0;
    width: 75%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media only screen and (min-width: $bp-1000) {
      width: 50%;
    }
  }

  & input {
    appearance: none;
    display: none;
  }
  & label {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 8.75rem;
    height: 3rem;
    text-align: center;
    border-radius: 9999px;
    overflow: hidden;
    transition: linear 0.3s;
    color: #6e6e6edd;
    @media only screen and (min-width: $bp-1000) {
      width: 20rem;
      font-size: 1.6rem;
    }
  }
  & input:checked + label {
    background-color: $color-purple;
    color: $color-offWhite;
    font-weight: 700;
    transition: 0.3s;
  }
}

// MESSAGES TO USER
.message {
  &-to-user {
    margin: 0 auto;
    text-align: center;
    font-size: 2.4rem;
  }
}
