@mixin mainpageDefaultGrid {
}

.grid {
  &-mainpage {
    &-header {
      &-content {
        display: grid;
        grid-template-columns: 1fr 75vw 1fr;

        @media only screen and (min-width: $bp-1000) {
          grid-template-columns: repeat(2, 50vw);
          align-items: center;
          margin-bottom: -6rem;
          @media only screen and (min-width: $bp-1200) {
            grid-template-columns: 1fr repeat(2, 27.5vw) 1fr;
            @media only screen and (min-width: $bp-1400) {
              grid-template-columns: 1fr repeat(2, 25vw) 1fr;
              @media only screen and (min-width: $bp-1800) {
                grid-template-columns: 1fr repeat(2, 22.5vw) 1fr;
              }
            }
          }
        }
      }
    }

    &-carousel {
      display: grid;
      grid-template-columns: 1fr 87.5vw 1fr;

      @media only screen and (min-width: $bp-1200) {
        grid-template-columns: 1fr 60vw 1fr;
        @media only screen and (min-width: $bp-1400) {
          grid-template-columns: 1fr 55vw 1fr;
          @media only screen and (min-width: $bp-2000) {
            grid-template-columns: 1fr 45vw 1fr;
          }
        }
      }
    }
    &-cards {
      display: grid;
      grid-template-columns: 1fr 87.5vw 1fr;

      padding-top: 5.2rem;
      padding-bottom: 4.8rem;
      text-align: center;
      @media only screen and (min-width: $bp-1200) {
        grid-template-columns: 1fr 60vw 1fr;
        @media only screen and (min-width: $bp-1400) {
          grid-template-columns: 1fr 55vw 1fr;
          @media only screen and (min-width: $bp-2000) {
            grid-template-columns: 1fr 45vw 1fr;
          }
        }
      }
    }
    &-features {
      display: grid;
      grid-template-columns: 1fr 87.5vw 1fr;

      @media only screen and (max-width: $bp-500) {
        display: block;
        padding: 0 1.5rem;
      }
      @media only screen and (min-width: $bp-1200) {
        display: grid;
        grid-template-columns: 1fr 80vw 1fr;
        @media only screen and (min-width: $bp-1400) {
          grid-template-columns: 1fr 65vw 1fr;
          @media only screen and (min-width: $bp-2000) {
            grid-template-columns: 1fr 45vw 1fr;
          }
        }
      }
    }
    &-details {
      display: grid;
      grid-template-columns: 1fr 87.5vw 1fr;
      padding: 12.5rem 0rem;

      @media only screen and (min-width: $bp-1200) {
        display: grid;
        grid-template-columns: 1fr 80vw 1fr;
        @media only screen and (min-width: $bp-1400) {
          grid-template-columns: 1fr 65vw 1fr;
          @media only screen and (min-width: $bp-2000) {
            grid-template-columns: 1fr 45vw 1fr;
          }
        }
      }
    }
    &-player {
      display: grid;
      grid-template-columns: 1fr 87.5vw 1fr;

      @media only screen and (max-width: $bp-500) {
        display: block;
        padding: 0 1.5rem;
      }
      @media only screen and (min-width: $bp-1200) {
        display: grid;
        grid-template-columns: 1fr 80vw 1fr;
        @media only screen and (min-width: $bp-1400) {
          grid-template-columns: 1fr 65vw 1fr;
          @media only screen and (min-width: $bp-2000) {
            grid-template-columns: 1fr 45vw 1fr;
          }
        }
      }
    }
    &-price {
      // display: grid;
      // grid-template-columns: 1fr 87.5vw 1fr;
      padding: 12.5rem 0 8.5rem 0;

      @media only screen and (min-width: $bp-1200) {
        display: grid;
        grid-template-columns: 1fr 75vw 1fr;
        @media only screen and (min-width: $bp-1400) {
          grid-template-columns: 1fr 65vw 1fr;
          @media only screen and (min-width: $bp-2000) {
            grid-template-columns: 1fr 45vw 1fr;
          }
        }
      }
    }
    &-carousel-opinions {
      display: grid;
      grid-template-columns: 1fr 95vw 1fr;

      @media only screen and (min-width: $bp-400) {
        grid-template-columns: 1fr 85vw 1fr;
        @media only screen and (min-width: $bp-1000) {
          grid-template-columns: 1fr 105rem 1fr;
        }
      }
    }
    &-newsletter {
      display: grid;
      grid-template-columns: 1fr 87.5vw 1fr;
      padding: 0 1.5rem;

      @media only screen and (min-width: $bp-1200) {
        display: grid;
        grid-template-columns: 1fr 80vw 1fr;
        @media only screen and (min-width: $bp-1400) {
          grid-template-columns: 1fr 100rem 1fr;

          @media only screen and (min-width: $bp-2000) {
            grid-template-columns: 1fr 40vw 1fr;
          }
        }
      }
    }
  }
  &-user {
    &-main {
      @media only screen and (min-width: $bp-1000) {
        box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
        max-width: 94rem;
        margin: auto;

        display: grid;
        min-height: 30rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 25vh 50vh;
        grid-gap: 1rem;
        @media only screen and (min-width: $bp-1200) {
          max-width: 104rem;
          @media only screen and (min-width: $bp-1400) {
            max-width: 120rem;
            @media only screen and (min-width: $bp-2000) {
              max-width: 130rem;
            }
          }
        }
      }
    }
  }
}
