@import "../../../../../assets/base.scss";
.learning {
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-description {
      text-align: center;
      padding: 0.5rem 0 1.5rem 0;
    }
  }
  & p {
    text-align: center;
  }
}
