@import "../../../../assets/base.scss";

.content {
  background-color: $color-purple;
  padding-top: 13rem;
  padding-bottom: 6.5rem;
  text-align: center;
  font-size: 2rem;

  @media only screen and (min-width: $bp-800) {
    text-align: start;
    @media only screen and (min-width: $bp-1000) {
      padding: 18rem 0 0 0;
    }
  }

  & h1 {
    margin-bottom: 1.6rem;
    color: #fff;
    font-size: 4.05rem;
    line-height: 4.875rem;

    @media only screen and (min-width: $bp-800) {
      font-size: 5.6rem;
      line-height: 6.6rem;
    }
  }

  & p {
    margin-bottom: 2rem;
    color: #f3f7fd;
    font: 400 1.8rem/2.85rem "Open Sans", sans-serif;
  }

  &-frame {
    background-color: $color-white;
    width: 100%;
    & svg {
      height: 3.6rem;
      margin-top: -0.1rem;
      overflow: hidden;
      vertical-align: middle;
      width: 100%;

      @media only screen and (min-width: $bp-800) {
        height: 9rem;
        @media only screen and (min-width: $bp-1000) {
          height: 13rem;
          @media only screen and (min-width: $bp-1200) {
            height: 15.2rem;
          }
        }
      }
    }
    & path {
      fill: #5f4dee;
    }
  }

  &-image-container {
    margin-bottom: 3rem;
    grid-column: 2;
    grid-row: 2;

    & img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
    }

    @media only screen and (min-width: $bp-1000) {
      width: 47rem;
      grid-column: 2 !important;
      grid-row: 1 !important;
      z-index: 10;
      margin-bottom: 2.75rem;
      @media only screen and (min-width: $bp-1200) {
        width: 63rem;
        grid-column: 3 !important;
        grid-row: 1 !important;
      }
    }
  }
  &-text-container {
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto 3rem auto;

    @media only screen and (min-width: $bp-1000) {
      grid-column: 1 !important;
      grid-row: 1 !important;
      @media only screen and (min-width: $bp-1200) {
        grid-column: 2 !important;
        grid-row: 1 !important;
      }
    }
  }
}
